@model MoviesDemo.Models.Movie

@section styles 
{
 <link rel="stylesheet" href="somestyles.css" />
}

@section scripts 
{
    <script src="myscript.js"></script>
}

<h2>Movies</h2>

<a href="/Movies/Edit/@Model.Id">@Model.Title</a>
<br />
@Model.Director

<h3>Actors</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Rating</th>
    </tr>
    @foreach (var actor in Model.Actors)
    {
        <tr>
            <td>@actor.Id</td>
            <td>@actor.Name</td>
            <td>@actor.Rating</td>
        </tr>
    }
</table>

@{
    var items = new List<string> { "Thread", "Needle" };
}
@MyHelpers.RenderList(items)

<br />
@MyHelpers.TwoDigitDate(DateTime.Now)

<br />
@MyHelpers.FormatCurrency(9.99M)



