@model MoviesDemo.Models.Movie

<h2>Movies</h2>

<a href="/Movies/Edit/@Model.Id">@Model.Title</a>
<br />
@Model.Director

<h3>Actors</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Rating</th>
    </tr>
    @foreach (var actor in Model.Actors)
    {
        <tr>
            <td>@actor.Id</td>
            <td>@actor.Name</td>
            <td>@actor.Rating</td>
        </tr>
    }
</table>



